<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand twotter-title" href="#">TWOTTER</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
       <li><form id="logout-form" action="/logout" method="GET">
		<button class='button' type="submit">LOGOUT</button>
		</form></li>
    </ul>
  </div>
</nav>

<div class="flex-container">
	<header>
		<h2>Hello: <span id="username-heading">{{this.currentUser}}</span></h2>
		<span class="glyphicon glyphicon-user user-logo"></span>
	</header>
	
	<div id="add-twote">
		<form action="new" method=POST>
			<input class="new-twote-text" type="text" name="text" placeholder=" Wrote a Twote!">
			<input class="new-twote-button" type="submit" value="TWOTE!">
		</form>
		<br>
		<br>
	</div>
	<div class="flex-list">
		<ul id="twote-list">
			{{#each twotes}}
				<li id={{this._id}} class={{author}}>
					<p><button class="remove-button btn">X</button>{{text}} -- {{author}} </p>
				</li>
			{{/each}}
		  	<li id="hidden-template-li">
		    <p><button class="remove-button btn">X</button><span class="twote">This is a pretty sweet twote</span> -- <span class="author">author</span></p>
		  </li>
		</ul>
	</div>

	<aside class="flex-side">
		<ul id="user-list">
			{{#each users}}
			<li class="userName" id={{this._id}}><p>{{username}}</p></li>
			{{/each}}
			<li id="hidden-template-user">
				<p><span class="username">user numba 1</span></p>
			</li>
		</ul>
	</aside>
</div>
